* {
  margin: 0;
}

/*Introduction navigation */
nav li,
nav li a {
  list-style-type: none;
  text-decoration: none;
  margin-left: 1.2em;
  color: white;
}

nav li a:hover {
  text-decoration: underline;
}

.top-nav {
  display: flex;
  padding: 1em;
}

/*Profile*/
.profile {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
}

.profile h1 {
  text-align: justify-all;
  width: 60%;
  font-size: 150%;
  font-weight: 500;
  margin: 0.5em;
  color: white;
}
#name {
  color: #ff4500;
  font-weight: 800;
}

#profile-pic {
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 20px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 4px 20px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 20px -3px rgba(0, 0, 0, 0.75);
}

.call-to-action button {
  margin: 1em;
  background: #008fa1;
  color: #fff;
  padding: 1em;
  border-radius: 2px;
  text-transform: uppercase;
  border-style: none;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 17px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 4px 17px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 17px -6px rgba(0, 0, 0, 0.75);
}

.call-to-action button:hover {
  background-color: #009cb0;
}

.introduction {
  background-color: #00b5f3;
}
