footer h2{
    color: #f4f4f4;
    background-color: #0A3055;
}

.summary{
    text-align: center;
    color: #f4f4f4;
    background-color: #0A3055;
    padding: 1em;
}

.summary img{
    border-radius: 50%;
}

.summary a{
    margin: 0.1em;
    color: #A9A9A9;
}

.interests{
    list-style-type: none;
    text-align: justify;
    padding: 1em;
    width: 50%;
    margin: auto;
}

.social-media{
    margin: 1em;
}

.social-media a{
    padding: 0.5em;
}

@media only screen and (max-width: 700px) {
  .interests {
    width: 90%;
  }
}
