
.summary{
    text-align: center;
    color: #f4f4f4;
    background-color: #0A3055;
    padding: 1em;
}

.summary img{
    border-radius: 50%;
}

.summary a{
    margin: 0.1em;
    color: #A9A9A9;
}

.interests{
    list-style-type: none;
    padding: 1em;
    margin: 0.5em;
}

.social-media{
    margin: 1em;
}

.social-media a{
    padding: 0.5em;
}