h2 {
  text-align: center;
  font-size: 150%;
  padding: 0.5em;
}

.interest {
  display: inline-block;
  background-color: #fff;
  border: none;
  -webkit-box-shadow: 0px 0px 113px -50px rgba(56, 56, 56, 0.88);
  -moz-box-shadow: 0px 0px 113px -50px rgba(56, 56, 56, 0.88);
  box-shadow: 0px 0px 113px -50px rgba(56, 56, 56, 0.88);
  padding: 4em;
  width: 1fr;
  height: 5em;
  text-align: center;
  margin: 1em;
  transition: background-color ease-in-out 1.4s;
}

.interest:hover {
  cursor: pointer;
  background-color: #d7d7d7;
}

.interest p {
  margin: 1em;
}

.interest-align {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
