.skills{
  background-color: #ffffff;
  width: 90%;
  margin: auto;
  border-radius: 8px;
  padding-bottom: 1em;
}
.skills h2 {
  background-color: #f4f4f4;
  padding-bottom: 1.4em;
}
.skills p{
  color: #696969;
}
.skills h4{
  color: #1978D4;
}

h3 {
  text-align: center;
  margin: 1.5em;
}

.top-skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.skill {
  margin: 1em 3em;
}

/*skill percentage svg*/

.skills .skill .svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 10s linear;
  stroke: #dadada;
  stroke-width: 0.5em;
}

.skills .skill .svg #bar {
  stroke: #2574A9;
}

.percentage {
  font-size: 200%;
  font-weight: lighter;
}

.info {
  text-align: center;
}

/*OTHER SKILLS LAYOUT*/
.other-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fff;
  margin: auto;
  width: 95%;
  border-radius: 5px;
}

.other-skill {
  padding: 1em;
}

/*PROGRESS BAR*/

.progress-bar {
  position: relative;
  height: 0.5em;
  width: 20em;
  border-radius: 50px;
  border: none;
  background-color: #dadada;
}

.fill {
  background: #2574A9;
  height: 100%;
  border-radius: inherit;
  transition: width 1s ease-in;
}

/*TODO find a work around dynamically
   updating pseudo selectors*/

/*Figma*/

.other-mastery {
  position: relative;
  font-size: smaller;
}

/*Progress for Each skill!!*/
/*This can be refactored somehow,
My CSS skills just aren't speaking
to me right now*/

.git:after,
.html-css:after,
.jest:after,
.redux:after,
.react-native:after,
.bootstrap:after,
.pytest:after,
.figma:after,
.numpy:after {
  position: absolute;
  bottom: -2px;
  width: 0.85em;
  height: 0.85em;
  content: "";
  border-radius: 50%;
  background-color: #2574A9;
}

.git:after {
  left: 12.5em;
}
.html-css:after {
  left: 15.5em;
}
.jest:after {
  left: 3.5em;
}
.redux:after {
  left: 4.5em;
}
.react-native:after {
  left: 5.5em;
}
.bootstrap:after {
  left: 10.5em;
}
.pytest:after {
  left: 3.5em;
}
.figma:after {
  left: 14.5em;
}
.numpy:after {
  left: 4.5em;
}

/*Media query for skills*/
/*Tablets and small laptops*/
@media only screen and (max-width: 1024px) {
  .other-skills {
    grid-template-columns: 1fr 1fr;
  }
  .other-skill {
  padding: 0.5em;
}

}
/*Most mobile*/
@media only screen and (max-width: 700px) {
  .skills{
    width: 80%;
  }
  .other-skills {
    grid-template-columns: 1fr;
  }
    .other-skill {
  padding: 0.3em;
}

}

/*Really tiny screens*/
@media only screen and (max-width: 380px) {
  .skills {
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .skills {
    width: 100%;
  }
  .other-skill {
  padding: 0;
}
  .progress-bar {
  width: 19.5em;
}

}