.top-projects {
  background: #f4f4f4;
}

.top-project {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
  align-items: center;
}

.top-project a{
  color: black;
}

.top-project a:hover{
  color: gray;
}


.aside-info h4 {
  font-size: 150%;
  color: #151513;
  margin: 1em;
}
.aside-info {
  font-size: 120%;
  font-weight: 700;
  width: 400px;
  height: 250px;
  text-align: justify;
  color: #0a192f;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.external {
  align-self: flex-start;
  margin-top: 1em;
}
.aside-info a {
  margin: 0.1em;
}

