* {
  margin: 0;
}

/*TODO: Centralise fonts and color theme for easy light/dark mode*/

body {
  background: #f5f5f5 !important;
}

h2 {
  text-align: center;
  font-size: 150%;
  padding: 1.2em;
  color: #f4f4f4;
  background-color: #1c2833;
}

h3 {
  text-align: center;
  margin: 1.5em;
  color: #1c2833;
}
